<html lang="en">

<head>
  <title>Contact Tree</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
  <meta name="robots" content="noindex">

    <!-- jQuery -->
    <script type="text/javascript" src="media/libs/jquery-ui/js/jquery-1.10.2.js"></script>

    <!-- backbone -->
    <script type="text/javascript" src="media/libs/underscore-min.js"></script>
    <script type="text/javascript" src="media/libs/backbone-min.js"></script>

    <!-- d3 -->
    <script type="text/javascript" src="media/libs/d3.v3.min.js"></script>
    <script type="text/javascript" src="media/libs/crossfilter.min.js"></script>

    <!-- Bootstrap -->
    <link href="media/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="media/libs/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <script type="text/javascript" src="media/libs/bootstrap/js/bootstrap.min.js"></script>

    <!-- jQuery UI -->
    <link href="media/libs/jquery-ui/css/overcast/jquery-ui-1.10.4.custom.min.css" rel="stylesheet">
    <script type="text/javascript" src="media/libs/jquery-ui/js/jquery-ui-1.10.4.custom.min.js"></script>
    
    <!-- toggleSwitch -->
    <script type="text/javascript" src="media/libs/toggleSwitch/jquery-ui.toggleSwitch.js"></script>
    <link href="media/libs/toggleSwitch/jquery-ui.toggleSwitch.css" rel="stylesheet">

    <!-- jquery plugins -->
    <link href="media/libs/rangeslider/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="media/libs/rangeslider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
    <script type="text/javascript" src="media/libs/rangeslider/js/ion.rangeSlider.min.js"></script>
    <script type="text/javascript" src="media/libs/rangeslider/js/ion.rangeSlider.js"></script>
    <link rel="stylesheet" media="screen" type="text/css" href="media/libs/colorpicker/css/colorpicker.css" />
    <script type="text/javascript" src="media/libs/colorpicker/js/colorpicker.js"></script>

    <!-- my custom css -->
    <link href='http://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link href="media/css/style.css" rel="stylesheet">
</head>


<body>	
	<div id="display_container" class="container-fluid" style="margin: 0 10px 0 10px; overflow-x:auto; min-width: 1200px; position: relative;">
        <!-- header -->
        <div id="header" class="relative header" style="margin:10px 0px; overflow-x:auto; min-width: 1100px;">
            <div class="left header" style="margin-right:25px;">
                <a href="http://vidi.cs.ucdavis.edu/"><img src="media/img/logo.png"></a>
            </div>
            <div class="left">
                <h1 class="myfont1" style="margin:15px 0 2px 10px;  width:230px;">Contact Tree</h1>
            </div>
            <div class="left">
                <div class="btn-group" style="margin:20px 0 2px 15px;">
                    <button type="button" id="import" class="myfont2 menu_button btn btn-default">Import</button>
                    <button type="button" id="menu" class="myfont2 menu_button btn btn-default">Data</button>
                    <!-- <button type="button" id="element" class="myfont2 menu_button btn btn-default">Components</button> -->
                    <button type="button" id="map" class="myfont2 menu_button btn btn-default">Mapping</button>
                    <!-- <button type="button" id="style" class="myfont2 menu_button btn btn-default">Style</button> -->
                    <!-- <button type="button" id="save" class="myfont2 menu_button btn btn-default" disabled>Save</button>
                    <button type="button" id="default_scale" class="myfont2 menu_button btn btn-default" disabled>Restore</button> -->
                </div>
            </div>
            <div class="right" style="display:flex;">
                <!-- <p><a href="media/Contact_Tree_Demo.pdf">Help</a></p> -->
                <!-- <p><a href="media/implementation.pdf">Help</a></p> -->
                <a id="share_link" href="#">Share</a>
                <p><a id="help_link" href="#" style="margin-left:10px;">Help</a></p>
            </div>
            
            <!-- <div class="right">
                <div> <a href="#" id="intro_btn">Intro</a> | <a href="#" id="slides_btn">Slides</a></div>
            </div> -->
        </div>

        <!-- menu -->
        <div id="top_list" class="ui-widget row" style="margin-top:10px;">
            <div>
                <span id="selecting_label" class="left myfont2" style="margin-left:15px; font-size:18; color:#0B173B; margin-top:5px;">SELECTION: </span>
                <div id="selecting_ego"></div>
            </div>
        </div>

        <!-- content -->
        <div id='canvas_container' style="margin-top:15px; width:100%; position:relative; z-index: 10;">
        	<canvas id='c' style="border:1.5px solid gray; border-radius:5px; background:white;"></canvas>
            <div style="display:none;">
                <img id="tree_search" src="media/img/information_icon.png">
            </div>

            <button id="tree_drawer" type="button" class="btn btn-default" style="position:absolute; right:10px; top:15px; opacity: .7">
                <span class="glyphicon glyphicon-wrench"></span>
            </button>
            <button id="tree_restore" type="button" class="btn btn-default" style="position:absolute; right:50px; top:15px; opacity: .7">
                <span class="glyphicon glyphicon-tree-deciduous"></span>
            </button>
        </div>


        <!-- top:120px -->
        <div id="dtl_box" class='config' style="display: none;">
            <ul>
                <li><a href="#dtl_tabs-1" style="height:24px; font-size:12;">Tree</a></li>
                <li><a href="#dtl_tabs-2" style="height:24px; font-size:12;">Component</a></li>
                <li><a href="#dtl_tabs-3" style="height:24px; font-size:12;">Roots</a></li>
                <li><a href="#dtl_tabs-4" style="height:24px; font-size:12;">View</a></li>
                <li><a href="#dtl_tabs-5" style="height:24px; font-size:12;">Filter</a></li>
            </ul>
            <div id="dtl_tabs-1">
                <div class="ui-widget row">
                    <div class="col-md-3">Length:</div>
                    <div class="col-md-9">
                        <input type="text" id="dtl_length" />
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-3">Angle: </div>
                    <div class="col-md-9">
                        <input type="text" id="opacity_slider"/>
                    </div>
                </div> -->
                <div class="ui-widget row">
                    <div class="col-md-3">Bend:</div>
                    <div class="col-md-9">
                        <input type="text" id="dtl_bend"/>
                    </div>
                </div>
            </div>
            <div id="dtl_tabs-2">
                <div class="ui-widget row">
                    <div class="col-md-3">Leaf Size:</div>
                    <div class="col-md-9">
                        <input type="text" id="dtl_leaf_size"/>
                    </div>
                </div>
                <div class="ui-widget row">
                    <div class="col-md-3">Fruit Size:</div>
                    <div class="col-md-9">
                        <input type="text" id="dtl_fruit_size"/>
                    </div>
                </div>
            </div>     
            <div id="dtl_tabs-3">
                <div class="ui-widget row">
                    <div class="col-md-3">Length:</div>
                    <div class="col-md-9">
                        <input type="text" id="root_length"/>
                    </div>
                </div>
                <div class="ui-widget row">
                    <div class="col-md-3">Bend:</div>
                    <div class="col-md-9">
                        <input type="text" id="root_bend"/>
                    </div>
                </div>
            </div>
            <div id="dtl_tabs-4">
                <div class="ui-widget row" style="margin-top:5px">
                    <div class="col-md-3">Fruit:</div>
                    <div class="col-md-9">
                        <select id="fruit_switcher">
                            <option value="off">Off</option>
                            <option value="on" selected>On</option>
                        </select> 
                    </div>
                </div>
                <p></p>
                <div class="ui-widget row">
                    <div class="col-md-3">Root:</div>
                    <div class="col-md-9">
                        <select id="root_switcher">
                            <option value="off">Off</option>
                            <option value="on" selected>On</option>
                        </select> 
                    </div>
                </div>
            </div> 
            <div id="dtl_tabs-5">
                <div class="ui-widget row">
                    <div class="col-md-3">Contacts:</div>
                    <div class="col-md-9">
                        <input type="text" id="filter_contact" />
                    </div>
                </div>
                <div class="ui-widget row" style="display:none">
                    <div class="col-md-3">Alters:</div>
                    <div class="col-md-9">
                        <input type="text" id="filter_alter"/>
                    </div>
                </div>
            </div>           
        </div>

        <!-- not use -->
        <div id="abt_box" class='config' style="display: none;">
            <ul>
                <li><a href="#abt_tabs-1" style="height:24px; font-size:12px;">Tree</a></li>
                <li><a href="#abt_tabs-2" style="height:24px; font-size:12px;">Component</a></li>
                <!-- <li><a href="#abt_tabs-3" style="height:24px; font-size:12px;">View</a></li> -->
            </ul>
            <div id="abt_tabs-1">
                <p><p>
                <div class="ui-widget row">
                    <div class="col-md-3">Bend:</div>
                    <div class="col-md-9">
                        <input type="text" id="abt_bend" />
                    </div>
                </div>
            </div>
            <div id="abt_tabs-2">
                <div class="ui-widget row">
                    <div class="col-md-3">Leaf Size:</div>
                    <div class="col-md-9">
                        <input type="text" id="abt_leaf_size" />
                    </div>
                </div>
                <div class="ui-widget row">
                    <div class="col-md-3">Fruit Size:</div>
                    <div class="col-md-9">
                        <input type="text" id="abt_fruit_size" />
                    </div>
                </div>
            </div>  
            <!-- <div id="abt_tabs-3">
                in View
            </div> -->            
        </div>

        <!-- history view-->
        <!-- <div id="history" style="height:150px; background:beige; border-radius:5px; margin-top:3px;"> -->
            <!-- this is history view -->
        <!-- </div> -->

        <!-- footer -->
        <div id="footer" class="row text-center">
            &copy; 2014 Visualization & Interface Design Innovation Lab @ University of California, Davis
        </div>
    </div>


    <div id="block_page" style="position:absolute; left:0px; top:0px; z-index:125; background:rgba(128, 128, 128, 0.1); display:none;">
        <div style="position:absolute; left:50%; top:50%;">
            <img src="media/img/loader.gif" style="height:50px;"></img><br>
            <font id="loading_process" style="/*margin-left:-5;*/" color="whitesmoke"><b>Loading...</b></font>
        </div>        
    </div>

    <div id="help_page" style="position:absolute; left:0px; top:0px; z-index:125; background:rgba(128, 128, 128, 0.3); display:none; ">
        <img id="help_slide" src="media/img/help/slide1.jpg" value="1" class="instruction" width="80%" style="z-index:150;"></img>
        <img id="slide_previous" src="media/img/previous.png" style="z-index:130; top:43%; position:absolute; left:10px; cursor:pointer;"></img>
        <img id="slide_next" src="media/img/next.png" style="position:absolute; z-index:130; top:43%; right:10px; cursor:pointer;"></img>
        <!-- <span id="slide_previous" class="left glyphicon glyphicon-chevron-left" aria-hidden="true" style="z-index:150; top:50%; position:absolute; left:10;"></span>
        <span id="slide_next" class="right glyphicon glyphicon-chevron-right" aria-hidden="true" style="position:absolute; z-index:150; top:50%; right:10;"></span> -->
    </div>

    <div id="information_page" style="position:absolute; left:0; z-index:130; background:rgb(55, 55, 55); display:none;">
        <span id="info_title" style="position:absolute; z-index:150; left:10px; top:0; font-size:32px; color:rgb(105, 105, 105);"></span>
        <span id="close_info" style="position:absolute; cursor:pointer; z-index:150; right:10px; top:0; font-size:32px; color:rgb(105, 105, 105);">X</span>
        <img id="loading_table" src="media/img/loader.gif" style="position:absolute; left:78%; top:50%; height:40px; diaplay:none;"></img>
        
        <!-- <canvas id='one_tree' class='left' style="margin:15% 10 0 30; /*border:1.5px solid gray;*/ border-radius:5px; background:white; width:57%; height:70%;"></canvas> -->
        <div id='snap_container' class='left' style="position:relative; margin:5% 10px 0 30px; width:57%; height:80%;">
            <canvas id='one_tree' style="/*border:1.5px solid gray;*/ border-radius:5px; background:white; height:100%; width:100%; display:block; z-index:150;"></canvas>
        </div>
        
        <div id='info_table' class='left' style="z-index:150; margin-top:5%; border-left:2.5px solid; max-height:80%; overflow-y:auto; width:38%; height:80%; padding-right:10px;">

            <div id="data_info_box" class='config' style="z-index:150; opacity:1; width:100%; height:initial; margin-left:10px; position:inherit; display:table;">
                <ul>
                    <li><a href="#data_table" style="height:24px; font-size:12px;">Table</a></li>
                    <li><a href="#data_chart" style="height:24px; font-size:12px;">Chart</a></li>
                    <!-- <li><a href="#abt_tabs-3" style="height:24px; font-size:12;">View</a></li> -->
                </ul>
                <div id="data_table">
                    <table id="raw_data_table" style="width:100%"></table>
                </div>
                <div id="data_chart">
                </div> 
            </div>
        </div>
    </div>

    <div id='save_container' class='left' style="position:absolute; overflow:hidden; height:50px; width:50px; left:50px; top:150px; display:none; z-index:-10;">
        <canvas id='save_tree' style="background:white;"></canvas>
        <a id="custom_download_link" download="mytree.png" href=""></a>
    </div>

    <!-- popup window -->
    <div id="sidekey_dialog" title="Customize Your Tree" class="popup_window_title">
        <div id="sidekey_img" class="row text-center" style="float:left;  min-width:400px; width:55%; position: relative; border-right:1px solid gray; overflow-x:auto;">
            <img id="mapping_img" src="media/img/real_mix_tree.png" align="left" style="margin-left:20px; height:100%; padding-top:5px;"></img>
            <!-- <div id="stick_label" class="sidekey_label" style="left:3%; top:20%;">
                <span class="sidekey_cmpt">Stick</span>
            </div> -->
            <div id="trunk_label" class="sidekey_label" style="left:48%; top:70%;">
                <span class="sidekey_cmpt">Trunk Side</span>
                <span id="trunk_map" class="sidekey_map">None</span>
            </div>
            <div id="branch_label" class="sidekey_label" style="left:5%; top:57%;">
                <span class="sidekey_cmpt">Branch</span>
                <span id="branch_map" class="sidekey_map">None</span>
            </div>
            <div id="bside_label" class="sidekey_label" style="left:3%; top:37%;">
                <span class="sidekey_cmpt">Branch Side</span>
                <span id="bside_map" class="sidekey_map">None</span>
            </div>
            <div id="root_label" class="sidekey_label" style="left:13%; top:80%;">
                <span class="sidekey_cmpt">Root</span>
                <span id="root_map" class="sidekey_map">None</span>
            </div>
            <div id="leaf_size_label" class="sidekey_label" style="left:57%; top:9%;">
                <span class="sidekey_cmpt">Leaf Size</span>
                <span id="leaf_size_map" class="sidekey_map">None</span>
            </div>
            <div id="leaf_color_label" class="sidekey_label" style="left:57%; top:14%;">
                <span class="sidekey_cmpt">Leaf Color</span>
                <span id="leaf_color_map" class="sidekey_map">None</span>
            </div>
            <div id="leaf_highlight_label" class="sidekey_label" style="left:57%; top:19%;">
                <span class="sidekey_cmpt">Leaf Highlight</span>
                <span id="highlight_map" class="sidekey_map">None</span>
            </div>
            <div id="fruit_size_label" class="sidekey_label" style="left:57%; top:38%;">
                <span class="sidekey_cmpt">Fruit Size</span>
                <span id="fruit_size_map" class="sidekey_map">None</span>
            </div>

            <div class="sidekey_label" style="left:3%; bottom:0;">
                <button id="save_label" class="btn btn-default myfont3 left" style="padding:0 10px; height:30px;" disabled>Save</button>
                <span class="myfont3 left" style="margin-top:1px; margin-left:5px;"><b>:</b></span>            
                <div id="save_mapping_container" class="left"></div>
            </div>

            <div id="block_layer" class="sidekey_label" style="left:0%; top:0%; width:100%; height:100%; opacity:0; display:none;">
            </div>
        </div>

        <div id="sidekey_selection" style="display:none; width:45%; float:left; margin-top:5px; position:relative; margin-left:20px;">
            <div id="sidekey_title" class="myfont3" style="font-weight:bold;"></div>
            <div id="sidekey_description" class="myfont4" style="display:none; width:100%; min-height:15%; background:rgba(128, 128, 128, 0.38); border-radius:5; margin-top:5px; text-align:justify"></div>
            <div id="attribute_candidate" class="left" style="width:100%; margin-top:10px;">
                <span class="left myfont3">Attribute Candidates: </span>
                <select id="sidekeyselect" class="sidekey_selection" style="width:53%; margin-left:10px;">
                </select>
            </div>
            <div id="sidekey_operation" class="left" style="width:100%; margin-top:5px; display:none;">
                <!-- <div id="attribute_list" class="left" style="width:100%; margin-left:5px;">
                </div><br> -->
                <!-- <span id="mark_note" class="left myfont3" style="display:none; font-weight:bold;">NOTE:</span> -->
                <span id="mark_group" class="left myfont3" style="display:none; width:100%;"></span>
                <div id="mark_group_select" class="left" style="width:100%; /*margin-left:5px; padding-right:8px;*/ max-height:400px; overflow-y:auto; padding: 0 20px 25px 5px;">
                </div>
            </div>
            
            <button class="btn btn-default right" id="sidekey_submit_trunk" style="width:100%; margin-top:10px; display:none;">Done</button>
            <button class="btn btn-default right" id="sidekey_submit_branch" style="width:100%; margin-top:10px; display:none;">Done</button>
            <button class="btn btn-default right" id="sidekey_submit_bside" style="width:100%; margin-top:10px; display:none;">Done</button>
            <button class="btn btn-default right" id="sidekey_submit_root" style="width:100%; margin-top:10px; display:none;">Done</button>
            <button class="btn btn-default right" id="sidekey_submit_leaf_size" style="width:100%; margin-top:10px; display:none;">Done</button>
            <button class="btn btn-default right" id="sidekey_submit_leaf_color" style="width:100%; margin-top:10px; display:none;">Done</button>
            <button class="btn btn-default right" id="sidekey_submit_leaf_highlight" style="width:100%; margin-top:10px; display:none;">Done</button>
            <button class="btn btn-default right" id="sidekey_submit_fruit_size" style="width:100%; margin-top:10px; display:none;">Done</button>
            <!-- <div id="repeat_submit" style="width:100%; margin-bottom:5px; display:none;"> -->
                <!-- <button class="btn btn-default right" id="sidekey_submit" style="width:100%; margin-bottom:5px; display:none;">Done</button> -->
            <!-- </div> -->
        </div>


        <div id="sidekey_save_img" class="row text-center" style="float:left;  min-width:400px; width:15%; position: relative; margin-left:10px; overflow-x:auto; display:none;">
            <img id="mapping_img" src="media/img/real_mix_tree.png" align="left" style="margin-left:20px; height:100%; padding-top:5px;"></img>
            <!-- <div id="stick_label" class="sidekey_label" style="left:3%; top:20%;">
                <span class="sidekey_cmpt">Stick</span>
            </div> -->
            <div id="trunk_save_label" class="sidekey_label" style="left:48%; top:70%;">
                <span class="sidekey_cmpt">Trunk Side</span>
                <span id="trunk_save_map" class="sidekey_map">None</span>
            </div>
            <div id="branch_save_label" class="sidekey_label" style="left:5%; top:57%;">
                <span class="sidekey_cmpt">Branch</span>
                <span id="branch_save_map" class="sidekey_map">None</span>
            </div>
            <div id="bside_save_label" class="sidekey_label" style="left:3%; top:37%;">
                <span class="sidekey_cmpt">Branch Side</span>
                <span id="bside_save_map" class="sidekey_map">None</span>
            </div>
            <div id="root_save_label" class="sidekey_label" style="left:13%; top:80%;">
                <span class="sidekey_cmpt">Root</span>
                <span id="root_save_map" class="sidekey_map">None</span>
            </div>
            <div id="leaf_size_save_label" class="sidekey_label" style="left:57%; top:9%;">
                <span class="sidekey_cmpt">Leaf Size</span>
                <span id="leaf_size_save_map" class="sidekey_map">None</span>
            </div>
            <div id="leaf_color_save_label" class="sidekey_label" style="left:57%; top:14%;">
                <span class="sidekey_cmpt">Leaf Color</span>
                <span id="leaf_color_save_map" class="sidekey_map">None</span>
            </div>
            <div id="leaf_highlight_save_label" class="sidekey_label" style="left:57%; top:19%;">
                <span class="sidekey_cmpt">Leaf Highlight</span>
                <span id="highlight_save_map" class="sidekey_map">None</span>
            </div>
            <div id="fruit_size_save_label" class="sidekey_label" style="left:57%; top:38%;">
                <span class="sidekey_cmpt">Fruit Size</span>
                <span id="fruit_size_save_map" class="sidekey_map">None</span>
            </div>

            <div id="block_layer" class="sidekey_label" style="left:0%; bottom:0%; width:100%; height:95%; opacity:0;">
            </div>
            <button id="use_label" class="btn btn-default myfont3 left">Used</button>
        </div>
        <!-- <div id="warnig_div" class="row" style="margin:0 5px 5px 5px">
            <span id="warnig" class="right myfont2" style="width: 270px; font-size:14; color:red; visibility:hidden;">Warning: You have duplicated mapping attribute!</span>
        </div> -->
        <!-- <p></p>
        <div id="sidekey_button" class="row" style="margin-right:5px;"></div> -->
    </div>


    <div id="import_dialog" title="Import Data File" class="popup_window_title" style="overflow:hidden;">
        <!-- <span class="left myfont3 description_box" style="margin-top:3px;">
            1. Choose a .csv file <br>
            2. Data must contain egoid column as each tree represent one ego <br>
            3. Data must contain alterid column as each stick in this tree is one alterid <br>
            4. If you have multiple data, combine them and add an extra column "dataset" as different dataset <br>
            5. If you have missing data, please fill it with a value or fill with -1 as missing <br>
            6. Data inside should be a categorical data or we will automatically category the attribute as an id data if all the distinct data is > 15 <br>
            7. Upload it or check the data format or cancel it <br>
        </span> -->
        <img src="media/img/upload_instructure.jpg" align="middle" style="width:100%; padding-top:5px;"></img>
        <form id="upload_form" name="upload_form" class="left" style="width:60%; margin-top:5px;">
            <input type="file" name="usercsv2upload" id="filename"></input>
        </form>
        <span id="err_report" class="left myfont3" style="width:100%; display:none;"></span>
        <!-- <div class="left" style="width:40%;">
            <span class="left myfont3" style="margin-top:3px;">Table Name: </span>
            <input id="database_table" class="left" style="margin:0 5;"></input>
        </div> -->
        <div id="import_button" class="right" style="display:none;">
            <button class="btn btn-default left" id="import_submit" style="margin-top:5px;">Done</button>
            <!-- <button class="btn btn-default left" id="check_submit" style="margin-left:5px;">Check</button> -->
            <!-- <button class="btn btn-default left" id="cancle_submit" style="margin-left:5px;">Cancel</button> -->
        </div>
        <!-- <button class="btn btn-default right" id="import_submit" style="display:none; width:100;" disabled>Done</button> -->

        <!-- <div id="data_information" style="display:none;">
            <div id="data_convertor" class="left; width:100%;">
                <span id="data_cnvt" class="left myfont3" style="width:100%;">Data Convertor:</span><br><p></p>
                <span class="glyphicon glyphicon-minus-sign left" style="cursor:pointer; visibility:hidden;"></span>
                <div id="column_row_name" class="ui-widget row left" style="width:99%; margin-left:auto;">
                    <div class="col-md-2">
                        <label class="myfont3">Column</label>
                    </div>
                    <div class="col-md-2">
                        <label class="myfont3" style="margin-left:-5px">Min</label>
                    </div>
                    <div class="col-md-2">
                        <label class="myfont3" style="margin-left:-5px">Max</label>
                    </div>
                    <div class="col-md-1">
                        <label class="myfont3" style="margin-left:-5px">Range</label>
                    </div>
                    <div class="col-md-2">
                        <label class="myfont3" style="margin-left:30px">Type</label>
                    </div>
                    <div class="col-md-1">
                        <label class="myfont3">Ego</label>
                    </div>
                    <div class="col-md-2">
                        <label class="myfont3" style="margin-left:20px">Relation</label>
                    </div>
                    <div class="col-md-1">
                        <label class="myfont3" style="margin-left:-15px">Action</label>
                    </div>
                    <div class="col-md-4">
                        <label class="myfont3">Change</label>
                    </div>
                </div>
                <div id="cnvt_tool" style="width:100%; height:390px; overflow-y:auto; padding-right:20px;"></div>
            </div>
        </div>
        <p></p> -->
    </div>


    <div id="menu_dialog" title="Choose Display Data" class="popup_window_title" style="overflow:hidden;">
        <div id="ego_container" class="left" style="width:50%;">
            <span class="left myfont3">Datase:</span>
            <select id="dataselect" style="width:70%; margin-left:5px;">
                <!-- <option value="0">Dataset</option>
                <option value="combine_diary">Combine_diary</option>
                <option value="international">International</option> -->
                <!-- <option value="1">International</option> -->
                <!-- <option value="2">DBLP</option> -->
            </select>
        </div>
        <div id="group_container" class="left" style="margin-left:10px; width:45%; display:none;">
            <span class="left myfont3">Group:</span>
            <select id="egogroup" style="width:70%; margin-left:5px;">
                <!-- <option value="0">Ego group</option>
                <option value="all">All</option> -->
            </select>        
        </div>
        <!-- <div id="sub_selection"></div> -->
        <!-- <div id="divTable_menu" class="checkbox"></div> -->
        <div id="main_selection" style="margin-top:5px;">
            <div id="ego_menu" class="left" style="width:50%;">
                <span id="main_title" class="left myfont3" style="display:none;">Select Ego:</span><p></p>
                <!-- for diary -->
                <div id="divTable_menu" class="checkbox" style="margin-top:25px; height:300px; overflow-y:auto; margin-right:10px; padding-bottom:20px; display:none;">
                </div>
                                
            </div>

            <!-- why need all set class left -->
            <div id="detail_menu" class="left" style="width:50%; display:none; height:300px; overflow-y:auto;">
                <span id="sub_title" class="left myfont3">Sub Group:</span>
                <!-- <div id="submit_button" class="right" >Done</div> -->
                <button class="btn btn-default right" id="submit_ego" style="display:none;" disabled>Loading</button>
                <!-- <button class="btn btn-default right" id="submit_dblp" style="margin-right:5px; display:none;" disabled>Loading</button>
                <button class="btn btn-default right" id="submit_inter" style="display:none;">Done</button> -->
                <div id="sub_selection" class="checkbox" style="margin-top:25px; display:none;"></div>

            </div>
        </div>
        
    </div>

    <div id="resolution_dialog" title="Choose Resolution of Saving" class="popup_window_title">
        <div id="res_option" class="row" style="margin:10px 20px;">
            <label style="margin-left:10px;" class="myfont3"><input type="radio" name="res_item" class="res_checkbox" value="low">Low</label>
            <label style="margin-left:10px;" class="myfont3"><input type="radio" name="res_item" class="res_checkbox" value="normal">Normal</label>
            <label style="margin-left:10px;" class="myfont3"><input type="radio" name="res_item" class="res_checkbox" value="high" checked>High</label>
        </div>
        <button style="width:80px; position:absolute; left:35%" class="btn btn-default" id="res_submit">OK</button>
    </div>

<!--     <div id="component_dialog" title="Choose Tree Component" class="popup_window_title">
        <div id="component_top" class="row">
            <div id="component_img" class="row left">
                <canvas id='component_tree' width='500' height="460"></canvas>
            </div>
            <div id="component_selection" class="right" style="margin-top:10px;"></div>
        </div>
        <div id="component_button" class="row right"></div>
    </div>
-->

    <div id="style_dialog" title="Choose Tree Style" class="popup_window_title">
        <div id="style_option" class="row" style="display:none; margin-left:3px;">
            <div>
                <label><input class="myfont3 style_selection" name="style_selection" value="symmetry" type="radio" id="style_1" style="margin-right:5px;">Detail Style</label>
            <div>
            <!-- <div>
                <label><input class="myfont3 style_selection" name="style_selection" value="cluster" type="radio" id="style_2" style="margin-right:5px;" checked>Abstract Style</label>
            <div> -->
            <div>
                <label><input class="myfont3 style_selection" name="style_selection" value="crooked" type="radio" id="style_3" style="margin-right:5px;">Crooked Style</label>
            <div>
            <!-- <div>
                <label><input class="myfont3 style_selection" name="style_selection" value="cartoon" type="radio" id="style_3" style="margin-right:5px;">Cartoon Style</label>
            <div> -->
        </div>
        <p></p>
        <div><button class="btn btn-default right" id="style_submit" style="display:none; margin-right:10px;">Done</button></div>
    </div>

    


    <!-- my custom js -->
    <script type="text/javascript" src="media/js/settings.js"></script>
    <script type="text/javascript" src="media/js/labels.js"></script>
    <script type="text/javascript" src="media/js/utility.js"></script>

    <script type="text/javascript" src="media/js/model.js"></script>
    <script type="text/javascript" src="media/js/my_app.js"></script>
    <!--script type="text/javascript" src="media/js/data_importing.js"></script-->
    <script type="text/javascript" src="media/js/data_uploading.js"></script>
    <script type="text/javascript" src="media/js/tree_structure.js"></script>
    <script type="text/javascript" src="media/js/tree_selecting.js"></script>
    <script type="text/javascript" src="media/js/tree_mapping.js"></script>
    <script type="text/javascript" src="media/js/tree_rendering.js"></script>
    <script type="text/javascript" src="media/js/tree_labeling.js"></script>
    <script type="text/javascript" src="media/js/tree_manipulating.js"></script>
    <script type="text/javascript" src="media/js/tree_control.js"></script>
    <script type="text/javascript" src="media/js/tree_style.js"></script> 
    <script type="text/javascript" src="media/js/tree_customized.js"></script>    

</body>
</html>