a:focus{ outline: none; }

.myfont1{
    font-family: 'Alegreya', serif;
    font-size: 42;
}
.myfont2{
    font-family: 'Roboto Condensed', sans-serif;
}

.myfont3{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: normal;
	/*font-family: "Calibri"; */
	font-size: 18;
}

.myfont4{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  /*font-family: "Calibri"; */
  font-size: 16;
}

.relative{
  position: relative;
}

.left{
  float: left;
}

.right{
  float: right;
}

.center {
    text-align: center;
}

.clear,.clearer {clear: both;}
.clearer {
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
}

.auto_center{
  margin-left:auto;
  margin-right:auto;
}

.instruction {
  border: 1px solid gray;
  border-radius:5;
}

.absolute{
  position: absolute;
}

.header {
    height: 75px;
}

.menu_button{
	width:110px;
}

.sidekey_label{
  /*cursor:pointer; */
  position:absolute;
  /*font-size:18;
  border:solid 1;
  border-radius:5;
  background: gray;*/
}


.sidekey_cmpt{
  cursor:pointer; 
  font-size:18;
  border:solid 1;
  border-radius:5;
  background: white;
  padding: 0 3 0 3;
}

.sidekey_map{
  font-size:18;
  border:solid 1;
  border-radius:5;
  visibility:hidden;
  background: rgb(245, 244, 174);
  /*background: rgb(252, 180, 183);*/
  padding: 0 3 0 3;
}

.layer_label{
  border:solid 1; 
  border-radius:3; 
  position:absolute; 
  background:whitesmoke;
}

.description_box{
  border:solid 1;
  border-radius:5;
  width:100%;
}

.mark_box{
  border: solid 1 gray;
  border-radius: 5;
  background: rgb(252, 243, 226);
}

.full_width{
	width:100%
}


.popup_window_title{
	font-family: 'Roboto Condensed', sans-serif;
	display: none;
}

/* Columns */
.column {
  margin-left: 2%;
  width: 45%;
  margin-top: 10px;
}
.column.first {margin-left: 0;}

/* Sortable items */
.sortable-list {
  /*background-color: #F93;*/
  list-style: none;
  margin: 0;
  min-height: 30px;
  padding: 10px;
}
.sortable-item {
  background-color: #FFF;
  border: 1px solid #000;
  cursor: move;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 10px 0;
  text-align: center;
}


.mapping_selection:

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.dropdown-menu {
	min-width: 100px;
	padding: 5px 10px;
}

.ego_label{
  background:#dddddd;
}

.navbar-form{
  padding: 0px 0px;
}

.navbar-form{
  padding: 0px 0px;
}

.form-control-sm{
  padding: 0px 8px;
  border-radius: 3px;
  border: 3px;
  font-size: 16;
}

.component_selector{
  width: 100%;
  border-radius: 5px;
}

.config{
  border:1.5px solid gray; 
  border-radius:5px; 
  width: 430px; 
  height: 150px; 
  position: absolute; 
  right: 13px; 
  top: 150px; 
  background: #f6f6f1; 
  opacity: .6;
}

.ui-tabs .ui-tabs-panel{
  padding: 5px 5px 0px 3px;
  /*margin: 0px 0px 10px 10px;*/
}

.irs-slider.to:before {
  width: 100%;
}

/*#binary_slider .ui-slider-range { background: rgba(33, 178, 239, 0.5); }*/

/*.slider{
  width:100%; 
  margin-top:10px; 
  background-color:rgba(236, 91, 94, 0.5); 
  height:10px;
}*/

/*div.slider { width:100%; margin:10px 0; background-color:#aaa; height:10px; position: relative; }
div.slider div.handle { width:10px; height:15px; background-color:#000; cursor:move; position: absolute; }
*/